<%- include('layouts/header.ejs') %>

<div class="container">
  <h1 class="">CRUD NODE JS, EXPRESS, and PostgreSQL</h1>
  <%results.slice(0, 1).forEach(item => {  %>
  <h5>data buku ini  <%= item.name %>  </h5>
  <% }); %>

  <a href="/addBook" class="btn btn-primary">Add Book</a>

  <div class="table-responsive">
    <table class="table table-dark table-striped mt-2">
      <thead class="table-dark">
        <tr>
          <th>Judul</th>
          <th>Pengarang</th>
          <th>Tahun</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <%results.forEach(item => {  %>
          <tr>
            <td><%= item.judul %></td>
            <td><%= item.penulis %></td>
            <td><%= item.tahun_terbit %></td>
            <td>
              <a href="/viewBook/<%= item.id %> " class="btn btn-primary">Lihat</a>
              <a href="/editBook/<%= item.id %>" class="btn btn-primary">Edit</a>
              <a href="/hapus/<%= item.id %>" class="btn btn-danger">Hapus</a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    </div>
</div>

<%- include('layouts/footer.ejs') %>